<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewpoint" content="with=device-width initial-scale=1.0">

<title>about Page</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />



<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<section class="abouthome">
		<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" style="color: brown; font-size: 35px;"
				href="#">RA info Solution
				<span style="font-size: 20px;">Call us:+917588022255</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto text-uppercase">

					<li class="nav-item active"><a class="nav-link" href="index">Home
							<span class="sr-only">(current)</span>
					</a></li></ul>

					<ul class="navbar-nav text-uppercase">

						<li class="nav-item active"><a class="nav-link" href="about">About
								US <span class="sr-only"></span>
						</a></li></ul>

						<ul class="navbar-nav text-uppercase">

							<li class="nav-item active"><a class="nav-link"
								href="service">Service <span class="sr-only">(current)</span>
							</a></li></ul>
							
							<ul class="navbar-nav  text-uppercase">

									<li class="nav-item active"><a class="nav-link"
										href="gallery">RA Gallery <span class="sr-only">(current)</span>
									</a></li></ul>
							

							<ul class="navbar-nav  text-uppercase">

								<li class="nav-item active"><a class="nav-link"
									href="career">Career <span class="sr-only">(current)</span>
								</a></li></ul>

								<ul class="navbar-nav  text-uppercase">

									<li class="nav-item active"><a class="nav-link"
										href="contact">Contact Us <span class="sr-only">(current)</span>
									</a></li></ul>

								
			</div>
		</nav>
	

		<!-- End of navBar -->
		<div class="abc">
			<h1>
				About Us <a href="index.html" class="h-btn">Home</a>

			</h1>

			<div class="img-box">
				<img th:src="@{/image/about1.jpg}">
			</div>
		</div>



	</section>


				

	<section class="detials_info">



		<div class="row">
			<div class="info_col">
				<div class="info">
					<h2>About Us</h2>
					<p>RA Info Solution is a value driven company in Pune, India
						offering services like application development, website design,
						Desk Application. We put a special focus on meeting customer needs
						and expectations. Our key differentiator is in our ability to
						understand the customer requirements and delivering exactly as per
						the expectations. We are not afraid of being flexible in our
						approach, if the customer needs it.</p>
				</div>


				<div class="info">
					<h2>Vision</h2>
					<p>To develop and deliver software services to the customers on
						shore and offshore With high quality, quick turnaround time and at
						low cost.</p>


				</div>
				<div class="info">
					<h2>Mission</h2>
					<p>We can provide custom developed website or application based
						on your specific requirements. Either way, our consultants will
						provide you with the most efficientsolutions for your business
						needs.</p>
				</div>
			</div>
			<div class="info_col">
				<div class="info">
					<h2>Our Skills</h2>
					<p>We are a dynamic team excited about latest technologies and
						our management philosophy is less driven by commercial interests
						but more to find workable and rewarding business SOLUTION for our
						clients. We make a thoroughgoing assessment of your existing
						operation methods and your envisioned business goal and deliver
						IT- enabled SOLUTION to bridge the gaps. We strive to build robust
						customer rapport paving the way for long-term relationship.</p>

				</div>
			</div>
		</div>
		
			
	</section>
	


	
</body>
</html>