<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewpoint" content="with=device-width initial-scale=1.0">
    
    <title>service Page</title>
	<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
	crossorigin="anonymous" referrerpolicy="no-referrer" />

 <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<section class="servicehome">
		<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" style="color: brown; font-size: 35px;"
				href="#">RA info Solution
				<span style="font-size: 20px;">Call us:+917588022255</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto text-uppercase">

					<li class="nav-item active"><a class="nav-link" href="index">Home
							<span class="sr-only">(current)</span>
					</a></li></ul>

					<ul class="navbar-nav text-uppercase">

						<li class="nav-item active"><a class="nav-link" href="about">About
								US <span class="sr-only"></span>
						</a></li></ul>

						<ul class="navbar-nav text-uppercase">

							<li class="nav-item active"><a class="nav-link"
								href="service">Service <span class="sr-only">(current)</span>
							</a></li></ul>
							
							<ul class="navbar-nav  text-uppercase">

									<li class="nav-item active"><a class="nav-link"
										href="gallery">RA Gallery <span class="sr-only">(current)</span>
									</a></li></ul>
							

							<ul class="navbar-nav  text-uppercase">

								<li class="nav-item active"><a class="nav-link"
									href="career">Career <span class="sr-only">(current)</span>
								</a></li></ul>

								<ul class="navbar-nav  text-uppercase">

									<li class="nav-item active"><a class="nav-link"
										href="contact">Contact Us <span class="sr-only">(current)</span>
									</a></li></ul>

								
			</div>
		</nav>
	
		<!-- End of navBar -->
    
        <div class="serv">
        <div class="row">
            <div class="service-col">
                
                    <h1>Service</h1>
                    <br>
                    <p>WEBSITE DESIGNING & DEVELOPMENT<br>
                    <br>WEB APPLICATION DEVELOPMENT<br>
                    <br>MOBILE APPLICATION DEVELOPMENT <br>
                    <br> Desk APPLICATION DEVELOPMENT.<br>
                    <br>WEB HOSTING SPACE<br>
                    <br>SEARCH ENGINE OPTIMIZATION<br>
                    <br>BULK SMS SALES

                    </p>
  			   </div>
                <div class="service-col">
                    <img th:src="@{/image/service.png}" >
                </div>
            </div>    
        </div>
	
        
</section>
<!--service us-->






<section class="detials">
	<h1>RA Info Services</h1>
	

<div class="row">
	<div class="detials_col">
		<h> WEBSITE DESIGNING & DEVELOPMENT</h>
        <p>E-commerce Websites,
             <br>Personal Websites, Community Building 
            <br>Websites Mobile Device
            <br> Websites Blogs Informational 
            <br>Websites Online Business 
            <br>Brochure/Catalog Directory Websites</p>
		
		
	
	</div>
	<div class="detials_col">
		<h> WEB APPLICATION DEVELOPMENT</h>
        <p>
            Basic Android Apps Utilities apps
            <br> Entertainment apps Games apps
            <br> News apps Productivity apps 
            <br>Lifestyle apps Social networking apps
        </p>
		
		
	
	</div>
	<div class="detials_col">
		<h>MOBILE APPLICATION DEVELOPMENT</h>
        <p>
            We can provide custom developed <br>website or
             application based on your 
            <br>specific requirements. Either<br> way, 
            our consultants will provide<br> you with 
            the most efficient<br> solutions
            <br> for your business needs.
        </p>
        
		
			
	</div>
   

	<div class="detials_col">
		<h>DESKTOP APPLICATION DEVELOPMENT</h>
        <p>
            Desktop application ERP <br>Software
            (any small or big company <br>management
             system Billing Master<br>(for any kind of shop/business)
        </p>
		
			
	</div>

    <div class="detials_col">
		<h>SOFTWARE TESTING</h>
        <p>Manual Testing 
            <br>Automation Testing 
            <br>Beta Testing Dynamic Testing</p>
		
			
	</div>
</div>

   



		

	
</section>

 
	
    
    
    

	

	

</body>
</html>
