body{
    padding: 0;
    margin: 0;
     background-color: rgb(243, 247, 245);
     
 }
 
.clearfix{
    clear: both;
}



.sidebar{

   
	width:21%;
	background-color:blue;
	height:100%;
	position:fixed;
	padding-top:45px;
	z-index: 99999999999999999999999;
	
}
.sidebar a{
    padding: 20px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    display:block;
    color: rgb(12, 11, 12);
    transition: 0.3s;
}
.sidebar a:hover{
    color: #f1f1f1;
    background-color: #1b203d;
}



.logo{
    margin-left: 35px;
    margin-bottom: 35px;
    font-weight: bold;
    color: white;
    margin: 0px;
    font-size: 35px;
    font-style: italic;
}
.logo span{
    color: rgb(231, 31, 131);
}
.head{
    display: flex;
    
    justify-content: space-between;
    position: fixed;
   width: 80%;
   margin-left: 250px;
   height: auto;
   padding: 25px;
    background-color: rgb(230, 222, 222);
    box-shadow:5px 5px 10px #df1616;
    
}
.col-div-5{
    
    justify-content: center;
}
.col-div-6{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.profile{
    
    float: right;
    padding-right: 50px;
    width: 200px;
}
.profile i{
    float: right;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile p{
    color:black;
    margin-left: 140px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}
.nav{
    display: none;
}
.nav{
    margin-left: 50px;
}

.midhead{
        
    width: 80%;
    height: auto;
    padding: 16px;
    margin-left: 230px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:5px 5px 10px #df1616;
       
}


.col-div-3{
    flex-basis: 38%;
    padding-top: 120px;
   
    
    
}
.box{
    
    width: 80%;
   height: 10vh;
   
   
    border-radius: 10px;
    background-color: rgb(216, 154, 74);
    margin-left: 15px;
    padding: 20px;
    padding-bottom: 10px;
    
    cursor: pointer;
}
.box p{
    font-size: 35px;
    color: rgb(14, 13, 13);
    float: left;
   
    font-weight: bold;
    
    line-height: 5px;
    margin-top: 10px;
    
}
.box p span{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    
    color: #110404;
}
.box i{
    float: right;
    font-size: 20px!important;
    
}

  
.col-div-8{
    width: 50%;
    float: left;
    margin-left: 250px;
    box-shadow:5px 5px 10px #df1616;

    
}
.pro-h h2{
    text-align: center;
    color: black;
    
}
.pro-btn{
    float: right;
    padding-top: 10px;
    
}
.pro-btn button{
    color: #e7eeea;
    background-color: #df1616;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.col-div-4{
    width: 30%;
    float: left;
    
    box-shadow:5px 5px 10px #df1616;
}
.content-box{
    padding:20px;
    

}
.content-box td{
    padding: 10px 0 0 0;
}
.content-box td i{
    color: #c94545;
    padding: 2px;
}
.content-box tr{
    text-align: left;
}
.rev-span{
    width: 10px;
    height: 10px;
    background-color: #df1616;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
}
.pro-span{
    width: 10px;
    height: 10px;
    background-color: #1ba348;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;

}
.pen-span{
    width: 10px;
    height: 10px;
    background-color: #110f0f;
    display: inline-block;
    border-radius: 10px;
    margin-right: 8px;
}
.content-box p{
    margin: 0%;
    font-size: 20px;
    color: #1b203d;
}
    /*AddPro page*/
    .proform{
        
       display:flex;
       background: #eeadad;
       padding-left: 300px;
       padding-top: 130px;
       justify-content: center;
       align-items: center;
       height: 80vh;
       

    }
    .container{

        padding: 25px;
        width: 60%;
        margin: 0.25px;
        background: #9aa3d6;
        border-radius: 0 15px 25px #f5890e;
    }

    h2{
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        color: #e7eeea;
        padding-bottom: 8px;
        border-bottom: 1px solid silver;
    }
    .content{
        display:grid;
       
        align-content: center;
        
        padding: 20px;
    }
    .input-box{
         padding-bottom: 15px;
         display: flex;
         justify-content: space-between;
         

    }
    .input-box label{
        font-size: 20px;
        padding: 8px;
    }
    .input-box input{
       flex-basis: 58%;
        padding: 10px;
       
        
    }
    .input-box1{
        
        display: flex;
        justify-content: center;
        padding: 20px;
        
    }
    .hero-btn{
        flex-basis: 40%;
        padding: 10px;
        font-size: 20px;
        color:  rgb(15, 15, 15);
        border-radius: 10px;
    }

    .main1{
        display: flex;
        height: 90vh;
        justify-content: right;
        align-items: center;
       
        padding: 20px;
        padding-top: 250px;
        box-sizing: border-box;
    }
    main.table{
        width: 70vw;
        height: 80vh;
        background-color: #9aa3d6;
        box-shadow: 0 15px 25px #f5890e;
        border-radius: 8px;
        overflow: hidden;
    }
    .tableheader{
        width: 100%;
        height: 10%;
        background-color: #d3e985;
        padding: 8px;
    }
    .tablebody{
        width: 95%;
        max-height: 89%;
        background-color: #d3e985;
        margin: 0.8rem auto;
        border-radius: .6rem;
        overflow: auto;
    }
    .tablebody::-webkit-scrollbar{
        width: 10px;
        height:10px ;
    }
    .tablebody::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #0d0c0f;
        visibility: hidden;
    }
    .tablebody:hover::-webkit-scrollbar-thumb{
        visibility:visible;

    }
    table{
        width: 100%;
    }
    table,th,td{
        border-collapse: collapse;
        padding: 1rem;
    }
    thead th{
        position: releative;
        top: 0;
        left: 0;
        background-color: #e7eeea;
    }
    tbody tr:nth-child(even){
        background-color: #eeadad;
    }
    
    <!--Inventory form-->
 
     .gallery{
     
    margin-top:300px;
        width: 80%;
        
        
        
    
    }
    .container-upload{
   
   margin-left: 250px;
   
    display: flex;
    justify-content:space-between;
     padding: 25px;
      width: 80%;  
        
        background: #c0c0c0;
        border-radius: 0 15px 25px rgb(245, 137, 14);
    }
    .table_file{
	
	 margin-left: 270px;
	 flex-basis: 48%;
	 margin-bottom:20px;
	
}
  .table_file1{
	
	margin-left: 270px;
	 flex-basis: 48%;
	 justify-content: right;
	  padding: 25px;
	
}
.gal_list{
	
	  border-radius: 10px;
       
	   justify-content:space-between;
	  width: 80%;
}
.gal_list h1{
	border-radius: 10px;
	background: #ff8040;
}
.form-control{
	margin-bottom:10px;
	
}
    